// variables:
//Primary:

//(intro and email sign up background):
$signUp-dark-Blue: hsl(217, 28%, 15%);

//main background:
$main-dark-Blue: hsl(218, 28%, 13%);

//footer background:
$footer-dark-blue: hsl(216, 53%, 9%);

//testimonials background :
$testimonials-dark-blue: hsl(219, 30%, 18%);

// Accent :

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);

// Neutral :

$white: hsl(0, 0%, 100%);

// heading :
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
// font-family: 'Raleway', sans-serif;

// body :
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
//font-family: 'Open Sans', sans-serif;

@mixin respond_style($breakpoint) {
  @if ($breakpoint == "largest-screen") {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
  @if ($breakpoint == "medium-screen") {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
  @if ($breakpoint == "small-screen") {
    @media only screen and (max-width: 65.25em) {
      @content;
    }
  }
  @if ($breakpoint == "extra-small-screen") {
    @media only screen and (max-width: 47.5em) {
      @content;
    }
  }
  @if ($breakpoint == "Phone") {
    // phone : 375px = 23.45 em
    @media only screen and (max-width: 23.45em) {
      @content;
    }
  }
}
* {
  &,
  &::after,
  &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
html {
  // initial root font
  font-size: 62.5%;

  @include respond_style("largest-screen") {
    font-size: 90%; // 15px for largest screen
  }
  @include respond_style("medium-screen") {
    font-size: 60%; // 10px for largest screen
  }
  @include respond_style("small-screen") {
    font-size: 57.5%; // 9px for largest screen
  }
  @include respond_style("extra-small-screen") {
    font-size: 52.5%;
  }
  @include respond_style("Phone") {
    font-size: 45.5%;
  }
}
