.header {
  display: flex;
  background-color: $signUp-dark-Blue;
  padding: 5rem 3rem;
  flex-direction: column;
  align-items: center;
}
.curve_background {
  z-index: 2;
  width: 100%;
  min-height: 45rem;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-size: cover;
  background-position: top;
  margin-top: -45rem;
  background-repeat: no-repeat;
  @include respond_style("Phone") {
    background-image: url("../images/bg-curvy-mobile.svg");
  }
  @include respond_style("largest-screen") {
    background-size: 100%;
  }
}
.section-features {
  background-color: $main-dark-Blue;
  color: $white;
  padding: 10rem 5rem;
  z-index: 4;
  @include respond_style("extra-small-screen") {
    padding: 5rem 2.5rem;
  }
  @include respond_style("largest-screen") {
    margin-top: -4.5rem;
  }
}

.section-working {
  background-color: $main-dark-Blue;
  padding: 15rem 10rem;
  display: flex;
  align-items: center;
  @include respond_style("extra-small-screen") {
    flex-direction: column;
  }
  @include respond_style("medium-screen") {
    padding: 10rem 5rem;
  }
}
.section-testimonials {
  background-color: $main-dark-Blue;
  display: flex;
  align-items: stretch;
  color: $white;
  padding: 10rem;
  padding-bottom: 45rem;
  position: relative;
  z-index: 10;
  @include respond_style("extra-small-screen") {
    flex-direction: column;
  }
  @include respond_style("medium-screen") {
    padding: 5rem;
    padding-bottom: 25rem;
  }
}
.section-start {
  background-color: $signUp-dark-Blue;
  width: 60%;
  margin: 0 auto;
  transform: translateY(-50%);
  padding: 5rem 15rem;
  text-align: center;
  position: relative;
  z-index: 11;
  box-shadow: 1rem 0 2.5rem $footer-dark-blue;
  @include respond_style("Phone") {
    padding: 2.5rem !important;
  }
  @include respond_style("medium-screen") {
    width: 80%;
    padding: 5rem;
  }
  @include respond_style("largest-screen") {
    width: 75%;
    padding: 5rem 10rem;
  }
}

.footer {
  background-color: $footer-dark-blue;
  padding: 5rem 10rem;
  padding-top: 35rem;
  margin-top: -45rem;
  position: relative;
  z-index: 9;
  display: grid;
  grid-template-columns: minmax(auto, 45rem) repeat(4, auto);
  grid-column-gap: 2.5rem;
  @include respond_style("Phone") {
    padding: 5rem;
    padding-top: 35rem;
  }
  @include respond_style("extra-small-screen") {
    display: flex !important;
    flex-direction: column;
    margin-top: -50rem;
  }
  @include respond_style("largest-screen") {
    padding-top: 45rem;
  }
}
